
p {
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count:1,3,2,6, 5;
    animation-direction: alternate-reverse;
    
}
@keyframes slidein {
from {
    margin-left: 100%;
    width: 300%; 
}

to {
    margin-left: 0%;
    width: 100%;
}
}



                      