
body{
    background: linear-gradient(to right,#aaaaaa,#272522);
}



.logo{

    font-family: cursive;
    text-align:center;
    color: #FFF;
    display:flex ;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    height: 10vh;

}

h1{
  /*  background-image: url(https://media.giphy.com/media/aioPukgvi3JxC/giphy.gif);*/
    background-image: url(https://media.giphy.com/media/jnPhQN85nuhmsa6qon/giphy.gif);
    background-size: cover;
    background-position: center;
    color: transparent ;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 50px;
    font-weight: 50;
    margin: 10px 10;

}

/*shap oval*/
.shap-oval{
  width: 200px;
  height: 320px;
  background: #9a4;
  -webkit-border-radius: 150px / 190px;
  -moz-border-radius:    150px / 190px; 
  border-radius:         150px / 190px; 
  margin-left: auto;
  margin-right: auto;


}
/*center*/
.center{
  margin-left: auto;
  margin-right: auto;
  font-family: Courier, monospace;
  text-align:center;
  margin-top: 40px;
}

/*text center*/
.text{
  margin-left: auto;
  margin-right: auto;
  font-family: Courier, monospace;
  text-align:center;
  margin-top: 40px;
}


/*un pousse*/
.liste{
  list-style-type: "\1F44D"; 
}

.emoticon{
  font-size: 300%;
}

.responsive{
    display: inline-block;
    width:200px;
    padding-left: 22.5%;
   
}

button {
  
  padding: auto;
  border:none;
  border:solid 2px none;
  border-radius: 5px;
  background: rgba(255, 255, 255,0);
 
}


.send{
    /*  background-image: url(https://media.giphy.com/media/aioPukgvi3JxC/giphy.gif);*/
      background-image: url(https://media.giphy.com/media/QBqTS9XBErS1rEvqyn/giphy.gif);
      background-size: cover;
      background-position: center;
      color: transparent ;
      background-clip: text;
      -moz-background-clip: text;
      -webkit-background-clip: text;
      text-transform: uppercase;
      letter-spacing: 10px;
      font-size: 50px;
      font-weight: 50;
      margin: 10px 10;
  
}
